@model IEnumerable<BibliotecaASP.Models.Livro>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Livros</h2>

<p>
    @Html.ActionLink("Cadastrar Livro", "Create", null, new { @class = "waves-effect waves-light btn" })
</p>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "_AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
    <table class="responsive-table striped bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPaginas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoria.Nome)
            </th>
            <th>
                Editar
            </th>
            <th>
                Excluir
            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPaginas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoria.Nome)
            </td>
             <td>
                <a class="btn-floating btn-large waves-effect waves-light blue" data-id="0" href="@Url.Action("Edit", "Livro", new { id = item.Id})"><i class="material-icons">mode_edit</i></a>
            </td>
            <td>
                <a id="excluirLivro" class="btn-floating btn-large waves-effect waves-light blue" href="#modal" data-id="@item.Id"><i class="material-icons">delete</i></a>
            </td>
        </tr>
        }

    </table>
}
