@model BibliotecaASP.Models.Livro

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Alterar Cadastro do Livro</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="row">
        <div class="row">
            <div class="input-field col s8">
                <i class="material-icons prefix">library-books</i>
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })

            </div>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s8">
            <i class="material-icons prefix">mode_edit</i>
            @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "library_book" } })
            @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
    </div>

    <div class="row">
        <div class="input-field col s8">
            <i class="material-icons prefix">toc</i>
            @Html.EditorFor(model => model.TotalPaginas, new { htmlAttributes = new { @class = "library_book" } })
            @Html.ValidationMessageFor(model => model.TotalPaginas, "", new { @class = "text-danger" })
            @Html.LabelFor(model => model.TotalPaginas, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
    </div>

    <div class="row">
        <div class="input-field col s8">
            <i class="material-icons prefix">library_add</i>
            @Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "library_book" } })
            @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })
            @Html.LabelFor(model => model.Quantidade, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
    </div>

    <div class="row">
        <div class="input-field col s3">
            @Html.DropDownListFor(model => model.AutorId, new SelectList(ViewBag.Autores, "Value", "Text"), "Selecione um Autor")
        </div>
    </div>

    <div class="row">
        <div class="input-field col s3">
            @Html.DropDownListFor(model => model.CategoriaId, new SelectList(ViewBag.Categorias, "Value", "Text"), "Selecione uma Categoria")
        </div>
    </div>

    <div class="form-group center-align">
        <button class="btn waves-effect waves-light" type="submit" name="action">
            Salvar Alteração
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>
}