<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="white">
    <div class="navbar" >
        <nav>
            <div class="nav-wrapper">
                <a class="brand-logo right"><i class="material-icons prefix">book</i>Biblioteca</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li>@Html.ActionLink("Início", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                    <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Livro", "Index", "Livro")</li>
                    <li>@Html.ActionLink("Autor", "Index", "Home")</li>
                    <li>@Html.ActionLink("Empréstimo", "Index", "Home")</li>
                </ul>
            </div>
        </nav>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <center><p>&copy; @DateTime.Now.Year - Matheus Silva</p></center>
        </footer>
    </div>
</body>
</html>
